@model CommitteeViewModel

<form action="Create" method="post">
    <div class="form-group my-3">
        <label>Committee Category</label>
        <input class="form-control" asp-for="CommitteeCategory"/>

    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">
            Add
        </button>

</form>